.layuimini-content-page{background-color:#f2f2f2!important;}
.layuimini-container {border:1px solid #f2f2f2;border-radius:5px;background-color:#f2f2f2}
.layuimini-main {margin:10px 10px 10px 10px;border:5px solid #ffffff;border-radius:5px;background-color:#ffffff}
.layui-breadcrumb>* {font-size: 13px;!important;}

/**必填红点 */
.layuimini-form>.layui-form-item>.required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
.layuimini-form>.layui-form-item>.layui-form-label {width:120px !important;}
.layuimini-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}
.layuimini-form>.layui-form-item>.layui-input-block >tip {display:inline-block;margin-top:10px;line-height:10px;font-size:10px;color:#a29c9c;}

/**搜索框*/
.layuimini-container .table-search-fieldset {margin: 0;border: 1px solid #e6e6e6;padding: 10px 20px 5px 20px;color: #6b6b6b;}
