/*头部背景色*/
.layui-layout-admin .layui-header {
    background-color: rgb(245, 245, 245) !important;
}

/*头部选中背景色*/
.layui-layout-admin .layui-header .layuimini-header-content > ul > .layui-nav-item.layui-this, .layuimini-tool i:hover {
    background-color: #e4e4e4 !important;
}

/*头部字体颜色*/
.layui-layout-admin .layui-header .layui-nav .layui-nav-item a {
    color: rgba(107, 107, 107, 0.7);
}

/*头部鼠标选中*/
.layui-header .layuimini-menu-header-pc.layui-nav .layui-nav-item a:hover, .layui-header .layuimini-header-menu.layuimini-pc-show.layui-nav .layui-this a {
    color: #565656 !important;
}

/*头部缩放样式*/
.layui-layout-admin .layui-header .layuimini-tool i {
    color: #565656;
}

/*logo背景颜色*/
.layui-layout-admin .layuimini-logo {
    background-color: #192027 !important;
}

/*logo字体颜色*/
.layui-layout-admin .layuimini-logo h1 {
    color: rgb(191, 187, 187);
}

/*头部下拉更多样式*/
.layui-header .layui-nav .layui-nav-more {
    border-top-color: rgba(160, 160, 160, 0.7) !important;
}

/*头部下拉更多样式*/
.layui-header .layui-nav .layui-nav-mored, .layui-header .layui-nav-itemed > a .layui-nav-more {
    border-color: transparent transparent rgba(160, 160, 160, 0.7) !important;
}

/**头部下拉配置色*/
.layui-header .layui-nav .layui-nav-child dd.layui-this a,.layui-header .layui-nav-child dd.layui-this {
    background-color: #1E9FFF !important;
    color: #ffffff !important;
}

/*左侧菜单下拉更多样式*/
.layuimini-menu-left .layui-nav .layui-nav-more{
    border-top-color: rgb(191, 187, 187);
}

/*左侧菜单下拉更多样式*/
.layuimini-menu-left .layui-nav .layui-nav-mored, .layuimini-menu-left .layui-nav-itemed > a .layui-nav-more {
    border-color: transparent transparent rgb(191, 187, 187) !important;
}

/*左侧菜单背景*/
.layui-side.layui-bg-black, .layui-side.layui-bg-black > .layuimini-menu-left > ul {
    background-color: #28333E !important;
}

/*左侧菜单字体颜色*/
.layuimini-menu-left .layui-nav .layui-nav-item a {
    color: rgb(191, 187, 187) !important;
}

/*左侧菜单选中字体颜色*/
.layuimini-menu-left .layui-nav .layui-nav-item a:hover, .layuimini-menu-left .layui-nav .layui-this a {
    color: #ffffff !important;
}

/*左侧菜单选中背景*/
.layuimini-menu-left .layui-nav-tree .layui-this, .layuimini-menu-left .layui-nav-tree .layui-this > a, .layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this, .layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #1E9FFF !important
}

/*左侧菜单子菜单背景*/
.layuimini-menu-left .layui-nav-itemed > .layui-nav-child {
    background-color: #0c0f13 !important;
}

/**tab选项卡选中颜色*/
.layuimini-tab .layui-tab-title .layui-this .layuimini-tab-active {
    background-color: #1e9fff;
}


.layuimini-menu-left .layui-nav-more {
    font-family: layui-icon !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: auto;
    height: auto;
    line-height: normal;
    border: none;
    display: inline-block;
    margin-top: -6px !important;
}

.layuimini-menu-left .layui-nav-child .layui-nav-more {
    margin-top: -6px !important;
}

.layuimini-menu-left .layui-nav .layui-nav-mored,.layuimini-menu-left .layui-nav-itemed>a .layui-nav-more{
    margin-top: -9px!important;
}

.layuimini-menu-left .layui-nav-more:before {
    content: "\e61a";
}
.layuimini-menu-left .layui-nav-itemed > a > .layui-nav-more {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 12px;
    text-align: center;
    border-style:none;
}

.layuimini-menu-left .layui-nav-itemed > a > .layui-nav-more:before {
    content: '\e61a';
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
}
